.saved {
  background-color: white;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.saved__title {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px auto 56px 104px;
  text-align: start;
}

.saved__articals {
  width: 712px;
  height: 24px;
  margin: 0;
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b2280;
}

.saved__username {
  max-width: 530px;
  height: 92px;
  margin: 28px 182px 30px 0;
  font-family: "roboto slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}
.saved__cate {
  margin: 0;
  max-width: 712px;
  height: 24px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

@media (max-width: 833px) and (min-width: 490px) {
  .saved {
    max-width: 768px;
  }
  .saved__title {
    max-width: 712px;
    margin: 24px auto 32px auto;
  }
  .saved__articals {
    max-width: 490px;
  }
  .saved__username {
    max-width: 336px;
    max-height: 68px;
    font-size: 30px;
    line-height: 40px;
  }
  .saved__cate {
    max-width: 712px;
    font-weight: 400;
  }
}

@media (max-width: 490px) and (min-width: 320px) {
  .saved__title {
    max-width: 490px;
    margin: 0;
  }
  .saved__articals {
    max-width: 280px;
    font-size: 12px;
    margin: 8px 16px 0 16px;
  }
  .saved__username {
    max-width: 288px;
    max-height: 68px;
    line-height: 34px;
    margin: 16px 16px 0 16px;
    font-size: 30px;
  }
  .saved__cate {
    max-width: 288px;
    max-height: 48px;
    margin: 50px 16px 32px 16px;
    font-size: 18px;
    display: block;
    white-space: wrap;
    text-overflow: ellipsis;
  }
}
