.search {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* height: 576px; */
}

.search__text {
  max-width: 608px;
  margin: 80px auto 88px auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search__text-title {
  font-family: "roboto slab";
  margin: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  display: inline-block;
  text-align: start;
}

.search__text-paragraph {
  font-family: "roboto";
  margin: 32px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.search__searchBar {
  margin: 0 auto 80px;
  width: 608px;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
}

.search__searchBar-input {
  padding: 0;
  width: 376px;
  height: 22px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  left: 0;
  margin: 21px 208px 21px 24px;
}

.search__searchBar-button {
  font-family: "roboto";
  padding: 0;
  width: 168px;
  height: 64px;
  background-color: #2f71e5;
  border: none;
  border-radius: 30px;
  color: white;
  position: absolute;
  right: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.search__searchBar-button:hover {
  cursor: pointer;
}

@media (max-width: 1000px) and (min-width: 822px) {
  .search__text {
    margin: 38px auto 48px auto;
  }
}
@media (max-width: 822px) and (min-width: 781px) {
  .search__text {
    margin: 28px auto 38px auto;
  }
}

@media (max-width: 781px) and (min-width: 490px) {
  .search__text {
    margin: 28px auto 38px auto;
  }
  .search__text-title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
  }
  .search__text-paragraph {
    margin-top: 22px;
    max-width: 452px;
    text-align: start;
  }
  .search__searchBar {
    max-width: 452px;
    height: 56px;
    margin: 0 auto 40px auto;
  }
  .search__searchBar-input {
    max-width: 228px;
  }
  .search__searchBar-button {
    position: absolute;
    max-height: 56px;
  }
}

@media (max-width: 490px) and (min-width: 320px) {
  .search {
    position: relative;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    height: 576px;
    flex-wrap: nowrap;
  }
  .search__text {
    margin: 30px 16px 112px 19px;
  }
  .search__text-title {
    font-size: 36px;
    line-height: 40px;
    display: inline-block;
    text-align: start;
    margin-bottom: 16px;
    width: 288px;
  }
  .search__text-paragraph {
    margin: 0;
    max-width: 288px;
    max-height: 72px;
    text-align: start;
  }

  .search__searchBar {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 128px;
    max-width: 288px;
    background-color: transparent;
    margin: 0 auto 32px auto;
  }
  .search__searchBar-input {
    position: absolute;
    top: 0;
    margin: 0;
    margin-bottom: 16px;
    border: none;
    border-radius: 30px;
    max-width: 288px;
    height: 58px;
  }
  .search__searchBar-button {
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 30px;
    width: 288px;
    max-height: 58px;
  }
}
