.searchResult {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  flex-wrap: wrap;
}
.searchResult__title {
  max-width: 712px;
  max-height: 46px;
  margin: 80px auto 64px 104px;
  font-family: "roboto slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}
.searchResult__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 62px 0 62px 102px;
}
.searchResult__cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.searchResult__section-button {
  width: 288px;
  height: 64px;
  padding: 0;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 48px auto 80px auto;
}
.searchResult__notfound-img {
  width: 82.5px;
  height: 82.5px;
  background-image: url("../../images/not-found_v1.svg");
  background-color: transparent;
  margin: 86px auto 31.5px auto;
}
.searchResult__notfound-title {
  font-family: "roboto slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 auto 16px auto;
}
.searchResult__notfound {
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 auto 80px auto;
}

.searchResult__cards-list {
  list-style: none;
}

@media (max-width: 950px) and (min-width: 490px) {
}

@media (max-width: 490px) and (min-width: 320px) {
  .searchResult {
    height: 50%;
    position: absolute;
    bottom: 100%;
    top: 100%;
    left: 0;
    right: 0;
    flex-wrap: nowrap;
  }
  .searchResult__notfound-img {
    background-repeat: no-repeat;
    margin: 43px auto 15px auto;
  }

  .searchResult__notfound-title {
    font-size: 16px;
    line-height: 30px;
    color: #1a1b22;
    margin: 0 auto 16px auto;
  }

  .searchResult__notfound {
    font-size: 14px;
    line-height: 24px;
    color: #b6bcbf;
    margin: 0 auto 80px auto;
  }
}
