.newsCard {
  max-width: 400px;
  max-height: 576px;
  border: none;
  border-radius: 19px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
  margin: 0 16px 16px 0;
}
.newsCard-img {
  width: 100%;
  height: 272px;
  background-color: transparent;
  object-fit: cover;
  margin: 0 auto;
}
.newsCard__saveButton {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  right: 24px;
  top: 24px;
  background-image: url("../../images/Rectangle8.svg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border: none;
  border-radius: 10px;
}
.newsCard__saveButton-liked {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  right: 24px;
  top: 24px;
  background-image: url("../../images/Rectangle9.svg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border: none;
  border-radius: 10px;
}
.newsCard__content {
  max-width: 352px;
  max-height: 268px;
  margin: 20px 24px 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}
.newsCard__content-date {
  max-width: 161px;
  max-height: 24px;
  margin: 0 auto 16px 0;
  font-family: "roboto", "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}
.newsCard__content-title {
  margin: 0 0 16px 0;
  max-width: 352px;
  max-height: 92px;
  text-align: start;
  font-family: "roboto slab", "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  overflow: hidden;
}
.newsCard__content-text {
  margin: 0 0 20px 0;
  max-width: 352px;
  max-height: 120px;
  text-align: start;
  font-family: "roboto slab", "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newsCard__content-source {
  margin: 0 auto 0 0;
  font-family: "roboto slab", "inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  max-width: 96px;
  max-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.newsCard__saveBlock {
  visibility: visible;
  width: 142px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 68px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsCard__saveArtical {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "roboto", "inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.newsCard__deleteArtical {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "roboto", "inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.newsCard__saveButton:hover {
  background-image: url("../../images/Rectangle7.svg");
  cursor: pointer;
}
.newsCard__saveBlock-hidden {
  visibility: hidden;
  width: 142px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 68px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsCard__saveBlock-visible {
  visibility: visible;
  width: 142px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 68px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsCard__deleteBlock-hidden {
  visibility: hidden;
  width: 142px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 68px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsCard__deleteBlock-visible {
  visibility: visible;
  width: 142px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 68px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsCard__deleteButton {
  background-image: url("../../images/trash.svg");
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  right: 24px;
  top: 24px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border: none;
  border-radius: 10px;
}
.newsCard__deleteButton:hover {
  cursor: pointer;
  background-image: url("../../images/trashBold.svg");
}

.newsCard-keyword {
  width: 80px;
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 24px;
  top: 24px;
  font-family: "roboto", "inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 768px) and (min-width: 490px) {
  .newsCard {
    max-width: 224px;
    max-height: 420px;
    margin: 0 8px 8px 0;
  }
  .newsCard-img {
    width: 100%;
    height: 150px;
    background-color: transparent;
    object-fit: cover;
    margin: 0 auto;
  }
  .newsCard__saveButton {
    right: 14px;
    top: 14px;
  }
  .newsCard__saveButton-liked {
    right: 14px;
    top: 14px;
  }
  .newsCard__content {
    margin: 16px 16px 16px 16px;
  }
  .newsCard__content-date {
    max-width: 147px;
    margin: 0 auto 12px 0;
  }
  .newsCard__content-title {
    font-size: 22px;
    line-height: 24px;
    max-width: 192px;
    max-height: 72px;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .newsCard__content-text {
    font-size: 18px;
    max-width: 192px;
    max-height: 88px;
    margin-bottom: 12px;
  }
  .newsCard__content-source {
    max-width: 192px;
    max-height: 20px;
  }
}

@media (max-width: 490px) and (min-width: 320px) {
  .newsCard {
    max-width: 288px;
    max-height: 440px;
    margin: 0 16px 10px 16px;
  }
  .newsCard-img {
    width: 100%;
    height: 198px;
    background-color: transparent;
    object-fit: cover;
    margin: 0 auto;
  }
  .newsCard__content {
    margin: 16px 16px 16px 16px;
  }

  .newsCard__content-date {
    max-width: 256px;
    max-height: 24px;
    margin: 0 auto 10px 0;
  }
  .newsCard__content-title {
    max-width: 235px;
    max-height: 48px;
    margin: 0 auto 14px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .newsCard__content-text {
    max-width: 256px;
    max-height: 88px;
    font-size: 16px;
    margin: 0 auto;
  }
  .newsCard__content-source {
    margin: 8px 16px 16px 0;
    max-width: 256px;
    max-height: 20px;
  }
}
